<li>  <a routerLink="/index" routerLinkActive="active">index</a></li>
<li>  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a></li>
<li>  <a routerLink="/superheroes" routerLinkActive="active">Heroes</a></li>
<li>  <a routerLink="/admin" routerLinkActive="active">Admin</a></li>
<li>  <a routerLink="/login" routerLinkActive="active">Login</a></li>
<li>  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a></li>
<h2>HEROES</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes$ | async"
    [class.selected]="hero.id === selectedId">
    <a [routerLink]="['/hero', hero.id]">
      <span class="badge">{{ hero.id }}</span>{{ hero.name }}
    </a>
  </li>
</ul>

<button routerLink="/sidekicks">Go to sidekicks</button>